@import"_misc/normalize";
@import"_misc/variables";
@import"_misc/mixins";

body {
	background: $white;
	width: 100%;
	height: 100%;
	font-family: 'Lucida Sans', Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

ul{
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	padding: 0;
	margin: 0;
	line-height: normal;
	display: block;
}

.container {
	max-width: 910px;
	margin: 0 auto;
	background: $white;
}

